
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'PT Sans', sans-serif;
}

@layer base {
  :root {
    --background: 40 67% 93%;
    --foreground: 40 10% 20%;
    --card: 40 67% 96%;
    --card-foreground: 40 10% 20%;
    --popover: 40 67% 96%;
    --popover-foreground: 40 10% 20%;
    --primary: 45 100% 70%;
    --primary-foreground: 45 100% 10%;
    --secondary: 40 60% 88%;
    --secondary-foreground: 40 10% 20%;
    --muted: 40 60% 88%;
    --muted-foreground: 40 10% 40%;
    --accent: 40 59% 41%;
    --accent-foreground: 40 60% 95%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 40 20% 85%;
    --input: 40 20% 85%;
    --ring: 45 100% 70%;
    --chart-1: 45 100% 70%;
    --chart-2: 40 59% 41%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
    
    --sidebar-background: 40 50% 90%;
    --sidebar-foreground: 40 10% 20%;
    --sidebar-primary: 45 100% 70%;
    --sidebar-primary-foreground: 45 100% 10%;
    --sidebar-accent: 40 67% 96%;
    --sidebar-accent-foreground: 40 10% 10%;
    --sidebar-border: 40 20% 82%;
    --sidebar-ring: 45 100% 70%;
  }
 
  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 45 100% 70%;
    --primary-foreground: 45 100% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 40 59% 51%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 45 100% 70%;
    --chart-1: 45 100% 70%;
    --chart-2: 40 59% 51%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;

    --sidebar-background: 240 10% 6%;
    --sidebar-foreground: 0 0% 98%;
    --sidebar-primary: 45 100% 70%;
    --sidebar-primary-foreground: 45 100% 10%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 0 0% 98%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 45 100% 70%;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  h1, h2, h3, h4, h5, h6 {
    @apply font-headline;
  }
}
